.round-button-circle {
    border-radius: 50%;
    overflow:hidden;
    width: fit-content;
    aspect-ratio: 1/1;
}

.btn-gray{
    background: #C4C4C4;
}

.btn-gray:hover{
    background: #7e7e7e;
}

.round-button {
    width:25%;
}

.round-button-circle:hover {

}