@import
    "../../node_modules/bootstrap/scss/bootstrap.scss",
    "modules/_borders", 
    "modules/_colors",
    "modules/_fonts",
    "modules/_display",
    "components/cirlceActionButton";

.clickable:hover {
    background-color: #0e6efc;
    color: white;
}

.clickable-alt:hover {
    background-color: rgb(255, 255, 255, 1);
    color: black;
}

body {
    background-color: #f6f8fa;
}